@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');
.wholeHeaderText{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
    padding-bottom: 1rem;
    color: white;
}
.teamWork{
    padding-top: 5rem;
    background-color: #03464D;
    padding-right: 10rem;
    padding-left: 10rem;
}
.wholeParaText{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1vw;
    opacity: 0.6;
    color: white;
}
.flexBoxes{
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}
.flexBox{
    background-color: white;
    border-radius: 10px;
    transition: ease-in;
    transition: 0.5s;
    padding: 2rem;
    width: 22rem;
}
.flexMore{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
    padding-top: 1rem;
}
.flexBox:hover{
    background-color: #0d1833;
    cursor: pointer;
    color: white;
}
.flexImage{
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
}
.flexImage1{
    margin: auto;
    padding: 1rem;
    padding-top: 1rem;
    width: 17.5rem;
}
.flexSeeMore{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
    color: white;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: ease-in;
    transition: 0.5s;
}
.flexSeeMore:hover{
    opacity: 0.6;
}
.flexHeadingText{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
}
.flexParaText{
    font-family: 'Poppins', sans-serif;
    opacity: 0.6;
}
.flexGetStarted{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
    background-color: #7FD957;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 100%;
}
.wave{
    padding-top: 2rem;
    width: 100%;
    margin-top: -6.5rem;
}
@media screen and (max-width:1600px) {
    .wholeParaText{
        font-size: large;
    }
    .wholeHeaderText{
        font-size: 2rem;
    }
    .teamWork{
        background-color: #03464D;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .flexBoxes{
        flex-wrap: wrap;
        gap: 0%;
        row-gap: 2rem;
    }
    .flexBox{
        width: 22rem;
    }
}
@media screen and (max-width:800px) {
    .wholeParaText{
        font-size: large;
    }
    .wholeHeaderText{
        font-size: 2rem;
    }
    .teamWork{
        background-color: #03464D;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .flexBoxes{
        flex-wrap: wrap;
        gap: 0%;
        row-gap: 2rem;
    }
    .flexBox{
        width: 22rem;
    }
}