@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.linkLernMore {
  text-decoration: underline;
  margin-left: 5px;
}
.textStyle {
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
}
.backGroundColor {
  background-color: #007860;
}
@media screen and (max-width:1200px) {
  .backGroundColor{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width:800px ) {
  .backGroundColor{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
