.wholeComponentTablet{
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #0d1833;
}
.DrawerMain{
    /* color: #7FD957; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}
.DrawerContent{
    color: white;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    transition: ease-in-out;
    transition: 0.5s;
}
.DrawerContent:hover{
    background-color: #2c3349;
    border-radius: 10px;
}
.hamberger{
    background-color:#7FD957;
    color:white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 30px;
    font-weight: 700;
    transition: ease-in-out;
    transition: 0.5s;
}
.hamberger:hover{
    color:#0E6131;
}
.header{
    margin-bottom: 2rem;
}
.logoTablet{
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0;
}
.logoParentTablet{
    margin: 0%;
}
.headingList{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: larger;
}
.listIcon{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.listIcon1{
    font-size: 1.5rem;
    margin-top: 0.3rem;
}
.topHeadList{
    margin-left: 6.5%;
    text-align:start;
    color: white;
    opacity: 0.6;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}
.seeMore{
    font-family: 'Poppins', sans-serif;
    color: #7FD957;
    font-weight: 600;
    margin-left: 3rem;
    transition: ease-in-out;
    transition: 0.5s;
}
.seeMore:hover{
    opacity: 0.6;
}
.cardBody{
    border-radius: 5px 5px 0px 0px;
    background-color: #2c3349;
}
.cardText{
    text-align:start;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.cardHeadingList{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: larger;
}
.desList{
    font-size: small;
    opacity: 0.6;
}
.cardFooter{
    border-radius: 0px 0px 5px 5px;
    color: white;
    background-color: #0E6131;
    transition: ease-in-out;
    transition: 0.5s;
}
.cardFooter:hover{
    border-radius: 0px 0px 5px 5px;
    color: #0E6131;
    background-color: #7FD957;
}
.seeMore1{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    margin-left: 1rem;
    margin-bottom: 2%;
    width: 100%;
    font-size: large;
    font-weight: 600;
}
.drawerFooter{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}
.drawerFooterButton1{
    width: 80%;
    margin: auto;
}
.drawerFooterButtonChild1{
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    font-size: larger;
    border-radius: 5px;
    background-color: transparent; 
    border: 1px solid #7FD957; 
    color:#7FD957;
    transition: ease-in-out;
    transition: 0.5s;
}
.drawerFooterButtonChild1:hover{
    background-color: #7FD957; 
    color:#0E6131;
}
.drawerFooterButton2{
    width: 80%;
    margin: auto;
}
.drawerFooterButtonChild2{
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    font-size: larger;
    border-radius: 5px;
    background-color: #7FD957; 
    color:#0E6131;
    transition: ease-in-out;
    transition: 0.5s;
}
.drawerFooterButtonChild2:hover{
    background-color: #0E6131; 
    color:white;
}