@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.features{
    background-color: #0d1833;
    /* color: white; */
    color: #7FD957;
    display: flex;
    padding-right: 12rem;
    padding-left: 10rem;
}
.featuresList{
    margin-top: 2%;
    width: 30%;
}
.listIcon{
    font-size: 150%;
    margin-top: 100%;
    color: #7FD957;
    margin-left: 25%;
}
.desList{
    font-size: small;
    opacity: 0.6;
}
.listText{
    margin-left: 6.5%;
    text-align:start;
    color: white;
    width: 70%;
    font-family: 'Poppins', sans-serif;
}
.listArrange{
    display: flex;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: ease-in-out;
    transition: 0.5s;
}
.listArrange:hover{
    background-color: #2c3349;
}
.headingList{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: larger;
}
.seeMore{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    margin-left: 13.5%;
    margin-bottom: 5%;
    font-size: large;
    font-weight: 600;
    color: #7FD957;
    transition: ease-in-out;
    transition: 0.5s;
}
.seeMore:hover{
    color: #a8da92;
}
.listText1{
    text-align:start;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.seeMore1{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    margin-left: 13.5%;
    margin-bottom: 2%;
    width: 100%;
    font-size: large;
    font-weight: 600;
}
.cardList{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
    margin-left: 2%;
}
.cardFooter{
    border-radius: 0px 0px 5px 5px;
    color: white;
    background-color: #0E6131;
    transition: ease-in-out;
    transition: 0.5s;
}
.cardFooter:hover{
    border-radius: 0px 0px 5px 5px;
    color: #0E6131;
    background-color: #7FD957;
}
.cardBody{
    border-radius: 5px 5px 0px 0px;
    background-color: #2c3349;
}