@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');
.wholeDiv{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0C3245;
    color: white;
}
.Text{
    font-family: 'Play', sans-serif;
    font-size: 2vw;
}
.Text:active{
    color: aqua;
}
.innerText{
    font-family: 'Poppins', sans-serif;
    text-align: start;
}
.innerText:hover{
    color: aqua;
    text-decoration: underline;
}