.gift{
    background-color: #03464D;
    color: white;
    margin-top: -1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 12rem;
    flex-wrap: wrap;
}
.flexSeeMore{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
    color:#7FD957;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: ease-in;
    transition: 0.5s;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    border-color: #7FD957;
}
.flexSeeMore:hover{
    background-color:#7FD957;
    color: white;
}
.giftHeading{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    padding-bottom: 1rem;
}
.giftTop{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    padding-top: 1rem;
    opacity: 0.6;
    font-weight: 600;
}
.giftWholeText{
    text-align: start;
    margin-top: 13rem;
    width: 50%;
}
.giftImageFlex{
    display: flex;
    width: 50%;
}
.giftWave{
    width: 100%;
    margin-top: -14vw;
}
@media screen and (max-width:1200px) {
    .gift{
        display: block;
        padding-bottom: 1rem;
    }
    .giftWholeText{
        margin-top: auto;
        padding-bottom: 2rem;
        width: 100%;
    }
    .giftImageFlex{
        width: 100%;
    }
    .flexSeeMore{
        margin-bottom: 4rem;
    }
    .giftHeading{
        font-size: 6vw;
    }
}
@media screen and (max-width:700px) {
    .gift{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .giftHeading{
        font-size: 6vw;
    }
}