@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.wholeComponent{
    display:flex;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #0d1833;
    justify-content: space-between;
    align-items: center;
}
.logoParent{
    display: flex;
    position: relative;
}
.logo{
    width: 70%;
}
.logoText{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    position: absolute;
    left: 10%;
    top:5%;
    margin-top: 13px;
    color: white;
}
.navbarText{
    display: flex;
    justify-content:space-evenly;
    width: 50%;
}
.navbarAccounts{
    display: flex;
    justify-content:space-evenly;
    width: 20%;
}
.navbarText1{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in;
    transition-duration: 0.5s;
}
.navbarText1:hover{
    background-color: #2c3349;
}
/* .navbarText1:active{
    background-color: #2c3349;
    color: #7FD957;
} */
.navbarText2{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarText2:hover{
    background-color: #2c3349;
}
.navbarText3{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarText3:hover{
    background-color: #2c3349;
}
.navbarText4{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarText4:hover{
    background-color: #2c3349;
}
.navbarText5{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarText5:hover{
    background-color: #2c3349;
}
.navbarText6{
    color: #7FD957;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    border:1px solid #7FD957;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarText6:hover{
    background-color: #7FD957;
    color: #0E6131;
}
.navbarText7{
    color: white;
    background-color: #7FD957;
    color: #0E6131;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarText7:hover{
    background-color: #0E6131;
    color: #7FD957;
}
@media screen and (max-width:800px) {
    .navbarText1{
        display: none;
    }
    .navbarText2{
        display: none;
    }
    .navbarText3{
        display: none;
    }
    .navbarText4{
        display: none;
    }
    .navbarText5{
        display: none;
    }
    .navbarText6{
        display: none;
    }
    .navbarText7{
        display: none;
    }
}