@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2rem;
}
.trusted{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5vw;
    padding-bottom: 1rem;
    background-color: #EBF5F3;
}
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-top: 1rem;
    opacity: 0.6;
    font-weight: 600;
}