@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');
.mainBody{
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}
.WorkHeading{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    padding-bottom: 1rem;
    padding-top: 5rem;
}
.wholeParaText{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1vw;
    opacity: 0.6;
}
.wholebutton{
    background-color: #7FD957;
    border: 4px solid #7FD957;
    border-radius: 100px;
    padding: 1rem 3rem;
    margin: 1rem;
}
.wholeinput{
    padding: 1rem;
    border: 4px solid #7FD957;
    border-radius: 10px;
    width:24vw;
    color: #0d1833;
    font-family: 'Play', sans-serif;
}
.svgMantain{
    padding-top: 5rem;
    width: 35vw;
}
@media screen and (max-width:1200px) {
    .wholeParaText{
        font-size: large;
    }
    .svgMantain{
        display: none;
    }
    .mainBody{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .wholebuttons{
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .wholeinput{
        width: auto;
    }
}
@media screen and (max-width:800px ) {
    .wholeParaText{
        font-size: medium;
    }
    .wholebuttons{
        display: flex;
        flex-direction: column;
        padding: 0%;
    }
    .WorkHeading{
        font-size: 1.5rem;
    }
    .wholeinput{
        width: auto;
    }
    .mainBody{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}