@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');
.Workmanagement{
    background-color: #051130;
    color: white;
    padding-left: 10rem;
    padding-right: 10rem;
}
.WorkHeading{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    padding-bottom: 1rem;
    padding-top: 5rem;
}
.wholeParaText{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1vw;
    opacity: 0.6;
}
.TabHeading{
    font-size: x-large;
}
@media screen and (max-width:1000px) {
    .wholeParaText{
        font-size: large;
    }
}